# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/
.venv/

# Caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environment variables (VERY IMPORTANT)
.env
backend/.env

# Uploaded files (PDFs)
backend/uploads/

# OS files
.DS_Store

# Editors
.vscode/
.idea/

# Node (frontend also has its own .gitignore)
node_modules/